name: CI/CD to Render

on:
  push:
    branches: [ main ]

jobs:
  build_and_test:
    name: Run Tests and Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

#      - name: Run lint
#        run: |
#          pip install flake8
#          flake8 . --count --max-line-length=120 --statistics

      - name: Run tests
        run: |
          pip install pytest
          pytest

  deploy:
    name: Deploy to Render
    runs-on: ubuntu-latest
    needs: build_and_test  # testlar muvaffaqiyatli tugasa deploy bo'ladi

    steps:
      - name: Trigger Render Deploy
        run: |
          curl -X POST "https://api.render.com/v1/services/${{ secrets.SERVICE_ID }}/deploys" \
          -H "Accept: application/json" \
          -H "Authorization: Bearer ${{ secrets.RENDER_API_KEY }}"
